
<div class="feed-toggle order">
    <ul class="nav nav-pills outline-active">
        <li class="nav-item" *ngIf="isLoggedIn$ | async">
            <a [routerLink]="['/feed']" class="nav-link" routerLinkActive="active">Your Feed</a>
        </li>
    </ul>

    <ul class="nav nav-pills outline-active">
            <a [routerLink]="['/']" class="nav-link" routerLinkActive="active">Global Feed</a>
    </ul>

    <ul class="nav nav-pills outline-active">
        <li class="nav-item" *ngIf="tagNameProps">
            <a [routerLink]="['/tags', tagNameProps]" class="nav-link" routerLinkActive="active">#{{tagNameProps}}</a>
        </li>
    </ul>
</div>