<div class="auth-page">
    ====== {{isSubmitting$ | async}} --------------------------------
    <div class="container page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sx-12">
                <h1 class="text-xs-center">Log In</h1>
                <p class="text-xs-center">
                    <a [routerLink]="['../registration']">Need an account ?</a>
                </p>
                <mc-backend-error-messages *ngIf="backendErrors$ | async" [backendErrors]="backendErrors$ | async">
                </mc-backend-error-messages>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <fieldset>
                        <fieldset class="form-group">
                            <input formControlName="email" type="text" class="form-control form-control-lg"
                                placeholder="Email">
                        </fieldset>

                        <fieldset class="form-group">
                            <input formControlName="password" type="password" class="form-control form-control-lg"
                                placeholder="Password">
                        </fieldset>
                        <button class="btn btn-lg btn-primary pull-xs-rigth" type="submit"
                            [disabled]="isSubmitting$ | async">Log In</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>